<p class=" text-4xl py-5 font-primary">Let's find all of your review here!</p>
{{#if reviews.length }}
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 justify-evenly gap-5">
    {{#each reviews}}
    <div class="bg-champagne-light rounded-lg lg:flex lg:flex-row p-5">
        <div class="flex justify-center">
            <img src="{{ cover_url }}" alt="" width="200px" height="200px">
        </div>
        <div class="w-full pl-5">
            <p class="text-2xl font-medium font-primary">{{ title }}</p>
            <p class="text-lg">{{ rating }}/5</p>
            <p class="text-lg">Review: <br />{{ comment }}</p>
            <div class="flex flex-row pt-5">
                <a href="/song/review/edit/{{ rid }}"
                    class=" text-lg p-1 rounded text-center bg-delft-blue text-white hover:opacity-75 mr-5">Modify</a>
                <a href="/song/review/delete/{{ rid }}"
                    class=" text-lg p-1 rounded text-center bg-redwood text-white hover:opacity-75">Delete</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p class="text-xl text-redwood py-5">You don't have any review!</p>
{{/if}}